body{
	margin: 100px;
	font-family: sans-serif;
	background-color: #DFBD69;
}

h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 12px;
}

img{
	border-style: solid;
	border-color: black;
	align-content: center;
}

.image{
	height: 200px;
	border-radius: 50px;
	border-color: white;
	padding: 10px;
}

.table1{
	margin-left: auto;
	margin-right: auto;
}

.table2{
	border: 3px solid white;
	margin-left: auto;
	margin-right: auto;
	background-color: #786538;
}

.th2, .td2{
	color: white;
	border: 2px solid white;
	letter-spacing: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

hr{
	border: 5px solid grey;
	border-radius: 5px;
}

h3{
	color: grey;
	letter-spacing: 5px;
}

dd, dt{
	color: grey;
	letter-spacing: 1px;
}

form{
	letter-spacing: 2px;
	color: grey;
}

footer{
	text-align: center;
	color: grey;
}